* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  display: flex;
  align-content: center;
  flex-direction:column;

}

section {
  margin: auto;
  margin-top: 60px;
  padding: 1%;
  border: solid 1px #c89361;
  box-shadow: 2px 2px 1px 1px #ffecd9
}

article.container {
  display: flex;
  width: 600px;
  height: 500px;
  margin: auto;
  flex-direction: row;
  gap: 14px;
  padding: 20px;
  position: relative;
}

button {
  width: 100%;
  background: #c89361;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 4px;
}

button:hover {
  background: #D7B18C;
  cursor: pointer;
}

article.container > img {
  position: absolute;
  height: 55px;
  right: 20px;
  z-index: 3;
}

article.container > div.item {
  width: 40%;
  position: relative;
}

article.container > div.item:nth-child(even) {
  display: grid;
  grid-template-columns: repeat(3, 33.34%);
  grid-template-rows: 1fr 1fr 10fr 1fr  1fr;
}

article.container > div.item:nth-child(3){
  width: 20%;
  height: 80%;
  align-self: center;
}

article.container > div.item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

div.item > div.sub-item {
  background: transparent;
  text-align: center;
  z-index: 2;
}

div.sub-item + div.sub-item {
  border-right: solid 8px white;
}

div.sub-item + div.sub-item:nth-child(3) {
  border-right: none;
}

div.sub-item + div.sub-item:nth-child(6) {
  border-right: none
}

div.sub-item + div.sub-item:nth-child(9) {
  border-right: none
}

div.sub-item + div.sub-item:nth-child(12) {
  border-right: none
}

div.sub-item + div.sub-item:nth-child(15) {
  border-right: none
}

div.item.first > div.sub-item:nth-child(1) {
  background: white;
}

div.item.first > div.sub-item:nth-child(3) {
  background: white;
}

div.item.first > div.sub-item:nth-child(4) {
  background: white;
}

div.item.first > div.sub-item:nth-child(12) {
  background: white;
}

div.item.first > div.sub-item:nth-child(13) {
  background: white;
}

div.item.first > div.sub-item:nth-child(15) {
  background: white;
}

div.item.last > div.sub-item:nth-child(2) {
  background: white;
}

div.item.last > div.sub-item:nth-child(5) {
  background: white;
}

div.item.last > div.sub-item:nth-child(1) {
  background: white;
}

div.item.last > div.sub-item:nth-child(3) {
  background: white;
}

div.item.last > div.sub-item:nth-child(13) {
  background: white;
}

div.item.last > div.sub-item:nth-child(10) {
  background: white;
}

div.item.last > div.sub-item:nth-child(6) {
  background: white;
}

div.item.last  div.sub-item:nth-child(15) {
  background: white;
}